.container{
    border: 2px solid;
    background-color: grey;
    text-align: center;
}

button{
    background-color: darkgrey;
    border:1px solid black;
    margin: 1em;
}

input{
    width: 100px;
    margin: 1em;
    border: 1px solid black;
}